body{
    background-image: url("https://media.istockphoto.com/photos/vintage-keyboards-in-a-flea-market-picture-id1153047239?k=20&m=1153047239&s=612x612&w=0&h=vytPLQZ6ly21UR5BkpyIVRNUsqnPo6Fcw6kHqbf1tTc=");
    background-attachment: inherit;
    background-repeat: no-repeat;
    background-size: 100% auto;
    text-align: center;
}
h1{
    color:white;
}